@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#snackbarContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    z-index: 101;
    width: 30%;
}

.removed {
    margin-top: -9.5em;
}

.paper-snackbar {
    transition-property: opacity, bottom, left, right, width, margin, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    font-family: RobotoDraft;
    font-size: 14px;
    min-height: 14px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    line-height: 22px;
    padding: 18px 24px;
    bottom: 0;
    opacity: 0;

}

.paper-snackbar p {
    padding: 1em;
}

.paper-snackbar a {
    color: #039be5;
}

@media (min-width: 640px) {
    .paper-snackbar {
        /*
    Desktop:
      Single-line snackbar height: 48 dp tall
      Minimum width: 288 dp
      Maximum width: 568 dp
      2 dp rounded corner
      Text: Roboto Regular 14 sp
      Action button: Roboto Medium 14 sp, all-caps text
      Default background fill: #323232 100%
    */
        min-width: 288px;
        max-width: 100%;
        display: inline-flex;
        margin: 24px;
        bottom: -100px;
    }

    .paper-snackbar .action {
        margin: 0px 0px 0px 24px;
    }

    .removed {
        margin-top: -9.5em;
    }
}

@media (max-width: 640px) {
    .paper-snackbar {
        /*
  Mobile:
    Single-line snackbar height: 48 dp
    Multi-line snackbar height: 80 dp
    Text: Roboto Regular 14 sp
    Action button: Roboto Medium 14 sp, all-caps text
    Default background fill: #323232 100%
  */
        left: 0px;
        right: 0px;
        width: 100% !important;
    }

    #snackbarContainer {
        width: 100%;
    }

    .paper-snackbar .action {
        margin: none;
    }
    .removed {
        margin-top: -10em;
    }
}

.paper-snackbar .action {
    background: inherit;
    display: inline-block;
    border: none;
    font-size: inherit;
    text-transform: uppercase;
    min-width: min-content;
}
